@page
@model CarCheckup.EndPoints.RazorPage.Pages.CarModel.CreateModel
@{
}
<form method="post">


    <label class="form-label" asp-for="Name">نام مدل</label>
    <input class="form-control" asp-for="Name" required />
    <button type="submit" class="btn btn-primary mt-3">ثبت درخواست</button>

</form>