@page
@model CarCheckup.EndPoints.RazorPage.Pages.Operator.Index1Model
@{
}
<a class="btn btn-primary" asp-page="/CheckupRequest/Index">لیست درخواست های معاینه فنی</a>
<a class="btn btn-success" asp-page="/CarModel/Index">لیست مدل های خودرو</a>