@page
@model CarCheckup.EndPoints.RazorPage.Pages.Operator.RegisterModel
@{
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<div class="container px-5 my-5">
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <br />
        <div class=" mb-3">
            <label asp-for="Operator.UserName" class="mb-1">نام کاربری</label>
            <input class="form-control" type="text" asp-for="Operator.UserName" required />


        </div>
        <div class=" mb-3">
            <label asp-for="Password" class="mb-1">رمزعبور</label>
            <input class="form-control" type="password" asp-for="Password" required />


        </div>

        <div class="d-grid">
            <button class="btn btn-primary btn-lg" type="submit">ثبت نام</button>
        </div>
      
    </form>
</div>
